@model Arcgis.Directions.VM.GetPOIVM
@using Arcgis.Directions.BL.SSOAuth;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title></title>

    <script type="text/javascript">
        var dojoConfig = {
            parseOnLoad: true,
            locale: "@Model.Langugae.Code",
            paths: {
                extras: location.pathname.replace(/\/[^/]+$/, "") + "/extras"
            }
        };
    </script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://js.arcgis.com/3.18/"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.18/dijit/themes/claro/claro.css">



    @Scripts.Render("~/Content/2/scripts/")
    @Scripts.Render("~/Content/2/plugins/")
    @Styles.Render("~/Content/2/css/")

    <link rel="stylesheet" href="https://js.arcgis.com/3.20/dijit/themes/tundra/tundra.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.20/esri/css/esri.css">

</head>
<body id="siteBody" style="position:relative;" class="nihilo gecko56 hr-hr gdidemo vehicle content-wrapper">
    <div id="preloader" style="opacity: 0; display: none;" class="hidden">
        &nbsp;
    </div>
    <div id="wrapper">

        <div id="header" class="navbar navbar-fixed-top">
            <div class="navbar-header">

                <div class="logo">
                    <a class="logo-image" href="@Url.Action("Index","Home")">
                        <img id="imgHeaderLogo" src="~/Content/2/img/sharedui-header-logo.png" alt="logo" />
                    </a>
                    <a id="logoName" class="logo-text hidden-xs">

                    </a>
                </div>
                <ul id="account" class="top-menu nav navbar-right pull-right right-margin-10">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">

                            <i class="mdi mdi-account-outline"></i>

                            @if (!String.IsNullOrEmpty((string)HttpContext.Current.Session[nameof(UserData)].ToString()))
                            {
                                @HttpContext.Current.Session["Username"]
                            }
                            <i class="fa fa-fw fa-angle-down"></i>

                        </a>
                        <ul id="accountDropDown" class="dropdown-menu">
                            @*<li class="divider"></li>*@
                            <li>
                                <a id="lsLoggedInUser" href="@Url.Action("Logout","Home")"> </a>
                            </li>
                        </ul>
                    </li>
                </ul>




                <ul id="ulSsoApplications" class="top-menu nav navbar-right pull-right">

                    <li class="dropdown">
                        @if (Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings[@"SSOveriden"]) == true)
                        {
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="mdi mdi-16px mdi-cloud-outline"></i>

                                <label id="choosApp1">SSO overridden</label>
                                <i class="fa fa-fw fa-angle-down"></i>
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="mdi mdi-16px mdi-cloud-outline"></i>

                                <label id="choosApp2"> Odaberi aplikaciju </label>
                                <i class="fa fa-fw fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">

                                @foreach (var item in Model.Applications)
                                {
                                    <li>
                                        <a id="@item.Name" href="@item.Url">@item.Name</a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                </ul>

                <ul id="ulLanguages" class="top-menu nav navbar-right pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">


                            <span id="flagChange" class="flag-icon flag-icon-hr"></span>

                            <label id="languagetext">Hrvatski</label>


                            <i class="fa fa-fw fa-angle-down"></i>

                        </a>

                        <ul id="languageDropDown" class="dropdown-menu">

                            @{ int counter = 1;}
                            @foreach (var item in Model.LanguageList)
                            {
                                if (Model.Langugae.Name == "HR")
                                {
                                    if (counter == 1)
                                    {
                                        <li>
                                            <a id="@item.LangID" onclick="return CallChangefunc('HR');" href="#"><span id="flagslanguage" class="flag-icon flag-icon-hr" alt="Croatia"></span>&nbsp;&nbsp Hrvatski</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a id="@item.LangID" onclick="return CallChangefunc('EN');" href="#"><span id="flagslanguage" class="flag-icon flag-icon-gb" alt="UnitedKingdom"></span>&nbsp;&nbsp Engleski</a>
                                        </li>
                                    }
                                }
                                else if (Model.Langugae.Name == "EN")
                                {
                                    if (counter == 1)
                                    {
                                        <li>
                                            <a id="@item.LangID" onclick="return CallChangefunc('HR');" href="#"><span id="flagslanguage" class="flag-icon flag-icon-hr" alt="Croatia"></span>&nbsp;&nbsp Croatian</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a id="@item.LangID" onclick="return CallChangefunc('EN');" href="#"><span id="flagslanguage" class="flag-icon flag-icon-gb" alt="UnitedKingdom"></span>&nbsp;&nbsp English</a>
                                        </li>
                                    }

                                }
                                counter++;
                            }
                        </ul>


                    </li>
                </ul>

            </div>

        </div>

        <div id="sidebar">


            <ul class="main-menu">

                <a class="menu-toggle" href="javascript:">
                    <i class="mdi mdi-menu"></i>
                </a>
                <li id="liMapMenu" class="selected">
                    <a href="#">
                        <i class="mdi mdi-earth"></i>
                    </a>
                    <div class="sidebar-menu">
                        <h3 class='menu-title'></h3>
                        <div class="slimScrollDiv">
                            <div class="container-fluid">
                                <div class="page-sidebar nav-collapse collapse">
                                    <form class="sidebar-search">
                                        <div class="input-box">
                                            @Html.TextBoxFor(m => m.CusPoiInput.Name, new { @class = "form-control", @id = "keyword" })
                                        </div>
                                    </form>
                                    <form class="sidebar-search">
                                        <div class="input-box">
                                            <div id="dir" dir="ltr"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <i class="mdi mdi-map-marker-multiple mdi-fw"></i>
                    </a>
                    <div class="sidebar-menu">
                        <h3 class='menu-title'></h3>
                        <div class="slimScrollDiv">
                            <div class="container-fluid">

                                <!-- BEGIN SIDEBAR -->
                                <div class="page-sidebar nav-collapse collapse">
                                    <!-- BEGIN SIDEBAR MENU -->
                                    <form class="sidebar-search">
                                        <div class="input-box group-check">
                                            @foreach (var names in @Model.GroupPoiList)
                                            {
                                                var checkBoxId = "chk" + names.PoiGroupID;
                                                var tdId = "td" + names.PoiGroupID;
                                                <div width="400px">
                                                    <div style="display:inline-block; width: 40px; height: 25px;">
                                                        <input type="checkbox" id="@checkBoxId" style="margin-left: 15px;" class="chkclass" value="@names.PoiGroupID" />
                                                    </div>
                                                    <div id="@tdId" style="display:inline-block; width: 350px; height: 25px;">
                                                        @names.PoiGroupName
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div>
        <div id="content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        @RenderBody()
                    </div>

                </div>

            </div>


        </div>
    </div>
    <div id="footer" class="text-left">
        <img id="imgFooterLogo" src="~/Content/2/img/sharedui-footer-logo.png" />
        <h6 id="logoText">GDi auto nadzor 7.9.1 | © 2009 - 2017 GDi Convivo | Sva prava pridržana.</h6>
    </div>


    @*<script>

            jQuery(document).ready(function () {
                                    App.init();
                                });
        </script>*@

</body>
</html>
