@model Arcgis.Directions.VM.GetPOIVM
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title></title>
    <script>
        var dojoConfig = {
            parseOnLoad: true,
            locale: "@Model.Langugae.Code"
        };

        function CallChangefunc(val) {
            window.location.href = "/" + val + "/Home/Index/";
        }
       
       
    </script>
    
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://js.arcgis.com/3.18/"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.18/dijit/themes/claro/claro.css">

    @Styles.Render("~/Content/1/css/")
 
</head>
<body class="claro fixed-top">
    <div id="wrapper">
        <div class="header navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="index.html">
                        <img src="~/assets/img/GDi_logo.png" alt="logo" />
                    </a>
                    @*<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                            <img src="~/assets/img/menu-toggler.png" alt="" />
                        </a>
                        <ul class="nav pull-right">
                            @Html.DropDownListFor(m => m.Langugae.Name, new SelectList(Model.LanguageList, "Name", "Name"), new { @onchange = "CallChangefunc(this.value)" })
                        </ul>*@
                </div>
            </div>
        </div>
        <div class="page-container row-fluid">
            <div class="page-sidebar nav-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->

                <div class="sidebar-toggler hidden-phone"></div>

                <form class="sidebar-search">
                    <div class="input-box">
                        @Html.TextBoxFor(m => m.CusPoiInput.Name, new { @class = "form-control", @id = "keyword" })
                    </div>
                </form>
                <form class="sidebar-search">
                    <div class="input-box">
                        <div id="dir" dir="ltr"></div>
                    </div>
                </form>

            </div>

            <!-- END SIDEBAR MENU -->
            <!-- BEGIN CONTAINER -->


            <div class="page-content">

                <!-- BEGIN PAGE CONTAINER-->
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <!-- BEGIN WORLD PORTLET-->
                            <div class="portlet box grey">

                                <div class="portlet-title">
                                    <div class="caption"><i class="icon-reorder"></i>World</div>
                                    @*<div class="tools">
                                            <a href="javascript:;" class="collapse"></a>
                                            <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                            <a href="javascript:;" class="reload"></a>
                                            <a href="javascript:;" class="remove"></a>
                                        </div>*@
                                </div>
                                <div class="portlet-body form">
                                    <div class="tabbable portlet-tabs">
                                        @RenderBody()

                                    </div>
                                </div>
                            </div>
                            <!-- END WORLD PORTLET-->
                        </div>
                    </div>
                </div>

                <!-- HERE WILL BE LOADED AN AJAX CONTENT -->
            </div>

        </div>



        <div class="footer">

            <div class="span pull-right">
                <span class="go-top"><i class="icon-angle-up"></i></span>
            </div>
        </div>
    </div>

        <!--[if lt IE 9]>
        <script src="assets/plugins/excanvas.js"></script>
        <script src="assets/plugins/respond.js"></script>
        <![endif]-->

        @Scripts.Render("~/Content/1/scripts/")
        @Scripts.Render("~/Content/1/plugins/")
        <script>
            jQuery(document).ready(function () {
                App.init();
            });
        </script>
</body>
</html>
