@model Arcgis.Directions.VM.GetPOIVM
@using Arcgis.Directions.BL.SSOAuth;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title></title>


    <script type="text/javascript">

        var dojoConfig = {
            parseOnLoad: true,
            locale: "@Model.Langugae.Code"
        };

      

    </script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://js.arcgis.com/3.18/"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.18/dijit/themes/claro/claro.css">


    @Scripts.Render("~/Content/2/scripts/")
    @Scripts.Render("~/Content/2/plugins/")
    @Styles.Render("~/Content/2/css/")
</head>
<body id="siteBody" style="position:relative">

    <div id="wrapper">

        <div id="header" class="navbar navbar-fixed-top">
            <div class="navbar-header">

                <div class="logo">
                    <a class="logo-image" href="@Url.Action("Index","Home")">
                        <img id="imgHeaderLogo" src="~/Content/2/img/sharedui-header-logo.png" alt="logo" />
                    </a>
                    <a id="logoName" class="logo-text hidden-xs">

                    </a>
                </div>
                <ul id="account" class="top-menu nav navbar-right pull-right right-margin-10">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">

                            <img src="~/Content/2/img/account_outline_white.png" style="margin-bottom: -5px;" />

                            @if (!String.IsNullOrEmpty((string)HttpContext.Current.Session[nameof(UserData)].ToString()))
                                {
                                <i class="logo-text hidden-xs"></i>
                                <label style="font-size:16px">@HttpContext.Current.Session["Username"]</label>
                            }

                            <img src="~/Content/2/img/arrow_down_white.png" style="margin-bottom: -7px;" />

                        </a>
                        <ul id="accountDropDown" class="dropdown-menu">
                            @*<li class="divider"></li>*@
                            <li style="float: left;">
                                <a id="lsLoggedInUser" href="@Url.Action("Logout","Home")"> </a>
                            </li>
                        </ul>
                    </li>
                </ul>


               

                <ul id="ulSsoApplications" class="top-menu nav navbar-right pull-right">

                    <li class="dropdown">
                        @if (Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings[@"SSOveriden"]) == true)
                            {
                            <a  class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <img src="~/Content/2/img/cloud.png" style="margin-bottom: -5px;" />
                                <i class="logo-text hidden-xs"></i>
                                <label id="choosApp1" style="font-size:16px">SSO overridden</label>
                                <img src="~/Content/2/img/arrow_down_white.png" style="margin-bottom: -5px;" />
                            </a>
                            }
                            else
                            {
                            <a  class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <img src="~/Content/2/img/cloud.png" style="margin-bottom: -5px;" />
                                <i class="logo-text hidden-xs"></i>
                                <label id="choosApp2" style="font-size:16px"> Odaberi aplikaciju </label>
                                 <img src="~/Content/2/img/arrow_down_white.png" style="margin-bottom: -7px;" />
                            </a>
                            <ul class="dropdown-menu">

                                @foreach (var item in Model.Applications)
                                    {
                                    <li>
                                        <a id="@item.Name" href="@item.Url">@item.Name</a>
                                    </li>
                                    }
                            </ul>
                            }
                    </li>
                </ul>

                <ul id="ulLanguages" class="top-menu nav navbar-right pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">

                            @*<img src="~/Content/2/img/translate.png" style="margin-bottom: -5px;" />*@
                           
                            <span id="flagChange" class="flag flag-hr"></span>
                            <i class="logo-text hidden-xs"></i>

                            <label id="languagetext"style="font-size:16px">HR</label>


                            <img src="~/Content/2/img/arrow_down_white.png" style="margin-bottom: -7px;" />
                            
                        </a>
                        <ul id="languageDropDown" class="dropdown-menu">

                            @{ int counter = 1;}
                            @foreach (var item in Model.LanguageList)
                            {
                                if (counter == 1)
                                {
                                    <li>
                                        <a id="@item.LangID" onclick="return CallChangefunc('HR');" href="#"><span id="flagslanguage" class="flag flag-hr" alt="Croatia"></span>&nbsp;&nbsp @item.Name</a>
                                    </li>
                                }
                                else
                                {
                                    <li style="float: left;">
                                        <a id="@item.LangID" onclick="return CallChangefunc('EN');" href="#"><span id="flagslanguage" class="flag flag-gb" alt="UnitedKingdom"></span>&nbsp;&nbsp @item.Name</a>
                                    </li>
                                }


                                counter++;
                            }
                        </ul>


                    </li>
                </ul>

            </div>

        </div>

        <div id="sidebar">


            <ul class="main-menu">

                <a class="menu-toggle" href="javascript:">

                    <i class="mdi mdi-menu"><img src="~/Content/2/img/menu.png" alt="" /></i>

                </a>

                <li id="liMapMenu" class="selected">

                    <a href="#">
                        <i class="mdi mdi-earth"><img src="~/Content/2/img/earth.png" alt="" /></i>

                    </a>


                    <div class="sidebar-menu">

                        <h3 class='menu-title'></h3>
                        <div class="slimScrollDiv">
                            <div class="container-fluid">

                                <!-- BEGIN SIDEBAR -->
                                <div class="page-sidebar nav-collapse collapse">
                                    <!-- BEGIN SIDEBAR MENU -->
                                    <form class="sidebar-search">
                                        <div class="input-box">
                                            @Html.TextBoxFor(m => m.CusPoiInput.Name, new { @class = "form-control", @id = "keyword" })
                                        </div>
                                    </form>
                                    <form class="sidebar-search">
                                        <div class="input-box">
                                            <div id="dir" dir="ltr"></div>
                                        </div>
                                    </form>



                                </div>

                            </div>
                        </div>
                    </div>


            </ul>

        </div>
        <div id="content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        @RenderBody()
                    </div>

                </div>

            </div>


        </div>
    </div>
    <div id="footer" class="text-left">
        <img id="imgFooterLogo" src="~/Content/2/img/sharedui-footer-logo.png" />
        <h6></h6>
    </div>


    <script>

        jQuery(document).ready(function () {
            App.init();
        });
    </script>


</body>
</html>
